In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\bruna\anaconda3\lib\site-packages (9.2.0)Note: you may need to restart the kernel to use updated packages.

In [ ]:
import mysql.connector
import csv
import pandas as pd

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",   #192.168.2.108
  user="root",
  password="**********",
  database="db_target"
)

In [ ]:
df = pd.read_csv(r'C:\\Users\\bruna\\Documents\\target\\payments.csv')

In [ ]:
df.info()

In [ ]:
mycursor = mydb.cursor()
mydb.commit()

In [ ]:
# TABELA GEOLOCATION

with open('C:\\Users\\bruna\\Documents\\target\\geolocation.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_geolocation (geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state) VALUES (%s, %s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3], row[4])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA ORDERS

with open('C:\\Users\\bruna\\Documents\\target\\orders.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_order (order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) VALUES (%s, %s, %s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3], row[4], row[5])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA PAYMENTS

with open('C:\\Users\\bruna\\Documents\\target\\payments.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_payments (order_id, payment_sequential, payment_type, payment_installments, payment_value) VALUES (%s, %s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3], row[4])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA ORDERS_ITEMS

with open('C:\\Users\\bruna\\Documents\\target\\order_items.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_order_items (order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value ) VALUES (%s, %s, %s, %s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3], row[4])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA PRODUCTS

import csv
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",   #192.168.2.108
  user="root",
  password="Wpmegustaok9!",
  database="db_target"
)

mycursor = mydb.cursor()
mydb.commit()


with open('C:\\Users\\bruna\\Documents\\target\\products.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_products (product_id, product_category) VALUES (%s, %s)"
        val = (row[0], row[1])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA SELLER

import csv
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",   #192.168.2.108
  user="root",
  password="**********",
  database="db_target"
)

mycursor = mydb.cursor()
mydb.commit()

# TABELA SELLERS

with open('C:\\Users\\bruna\\Documents\\target\\sellers.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_seller (seller_id, seller_zip_code_prefix, seller_city, seller_state) VALUES (%s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()

In [ ]:
# TABELA ORDER_ITEMS

import csv
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",   #192.168.2.108
  user="root",
  password="**********",
  database="db_target"
)

mycursor = mydb.cursor()
mydb.commit()

with open('C:\\Users\\bruna\\Documents\\target\\order_items.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Ignora a primeira linha (cabeçalho)
    for row in reader:
        sql = "INSERT INTO tb_order_items (order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) VALUES (%s, %s, %s, %s, %s, %s, %s)"
        val = (row[0], row[1], row[2], row[3], row[4], row[5], row[6])  # Correção: valores reais das colunas
        try:
            mycursor.execute(sql, val)
        except mysql.connector.Error as err:
            print(f"Erro ao inserir linha: {row}")  # Imprime a linha com erro
            print(f"Erro: {err}")  # Imprime a mensagem de erro do MySQL
            mydb.rollback()  # Reverte a transação em caso de erro
            break # Para o loop para não ter vários erros.

mydb.commit()
mydb.close()